algoliasearch==1.20.0
algoliasearch-django==1.7.1
anaconda==0.0.1.1
appnope==0.1.0
arrow==0.13.1
asn1crypto==0.24.0
atomicwrites==1.3.0
attrs==19.1.0
autopep8==1.4.3
backcall==0.1.0
bashplotlib==0.6.5
beautifulsoup4==4.7.1
bleach==3.1.0
cachetools==3.1.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
cryptography==2.7
cycler==0.10.0
decorator==4.4.0
defusedxml==0.5.0
Django==2.2.3
django-allauth==0.39.1
django-crispy-forms==1.7.2
django-storages==1.7.1
emoji==0.5.2
entrypoints==0.3
et-xmlfile==1.0.1
flake8==3.7.7
Flask==1.0.2
geographiclib==1.49
geopy==1.19.0
google-api-python-client==1.7.8
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.3.0
googlemaps==3.1.1
httplib2==0.12.1
idna==2.8
importlib-metadata==0.20
ipykernel==5.1.0
ipython==7.4.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==1.1.0
jdcal==1.4
jedi==0.13.3
Jinja2==2.10
jira==2.0.0
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
kiwisolver==1.0.1
lml==0.0.9
lxml==4.3.3
MarkupSafe==1.1.1
matplotlib==3.0.3
mccabe==0.6.1
mistune==0.8.4
more-itertools==7.2.0
nbconvert==5.4.1
nbformat==4.4.0
notebook==5.7.8
numpy==1.16.2
oauthlib==3.0.1
openpyxl==2.6.2
packaging==19.1
pandas==0.24.2
pandocfilters==1.4.2
parso==0.3.4
pbr==5.4.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==6.0.0
pipenv==2018.11.26
pluggy==0.12.0
pprint==0.1
prometheus-client==0.6.0
prompt-toolkit==1.0.14
ptyprocess==0.6.0
py==1.8.0
py-trello==0.15.0
pyaml==18.11.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycodestyle==2.5.0
pycparser==2.19
pyexcel==0.5.13
pyexcel-io==0.5.16
pyfiglet==0.8.post1
pyflakes==2.1.1
Pygments==2.3.1
PyInquirer==1.0.3
PyJWT==1.7.1
pyOpenSSL==19.0.0
pyparsing==2.4.0
pyrsistent==0.14.11
pyswagger==0.8.39
pytest==5.1.2
python-dateutil==2.8.0
python-social-auth==0.2.1
python3-openid==3.1.0
pytz==2018.9
PyYAML==5.1
pyzmq==18.0.1
qtconsole==4.4.3
regex==2019.6.8
requests==2.21.0
requests-oauthlib==1.2.0
requests-toolbelt==0.9.1
rsa==4.0
salesforce-python-sdk==0.1.3
Send2Trash==1.5.0
simple-chalk==0.1.0
simple-salesforce==0.74.3
six==1.12.0
slackbot==0.5.3
slackclient==1.3.1
slacker==0.12.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
soupsieve==1.9
spotipy==2.4.4
sqlparse==0.3.0
stravalib==0.10.2
terminado==0.8.2
testpath==0.4.2
texttable==1.6.1
tinify==1.5.1
tornado==6.0.2
traitlets==4.3.2
trello==0.9.3
units==0.7
uritemplate==3.0.0
urllib3==1.24.1
validate-email==1.3
virtualenv==16.4.3
virtualenv-clone==0.5.1
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.44.0
Werkzeug==0.15.2
widgetsnbextension==3.4.2
xlrd==1.2.0
XlsxWriter==1.1.5
xlutils==2.0.0
xlwt==1.3.0
zipp==0.6.0
